* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Phillip */

/* Ayla */

/* Jennifer */

/* Kevin */
.storefinder {
  display: flex;
}
.storefinder-card {
  background-color: #f20c90;
}
